.ticket-footer {
    height: 100%;
}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 20px;
}

.modal-border {
    border-color: #1e0064;
}

.incremental-button {
    border-radius: 100%;
    border: 1px solid black;
    /*color: white;*/
}

.my-modal-body {
    height: 190px;
}

.buy-ticket-picture {
    width: 100%;
    height: 211px;
    border-bottom-left-radius: 10px;
}